﻿body {
    background-color: rgb(0, 121, 191);
    margin: 0;
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    padding: 0;
}

h1 {
    margin: 0;
}

.header {
    background-color: #0067A3;
    padding: 10px;
    text-align: center;
}

.header-title {
    margin: 0;
    color: white;
    display: inline-block;
}

h4 {
    margin: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.collection-view {
    background-color: #bbb;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.list-title {
    margin: 5px 0 5px 20px;
    color: white;
}

.lists {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.list {
    background-color: #bbb;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

.list-item p {
    margin: 0;
}

.list-item {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}

.add-form {
    padding: 0;
    display: block;
    margin: 0;
    width: auto;
}

.add-list-form {
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    display: inline-block;
    background-color: #0067A3;
}

.green {
    color: green;
}

.red {
    color: red;
}

.menu {
    display: inline-block;
}

.menu-item {
    display: inline-block;
}

.menu-item a {
    color: white;
    text-decoration: none;
    background-color: #4D95BF;
    padding: 10px;
}

.menu-item:hover a {
    background-color: white;
    color: black;
}

.random-div {
    width: 200px;
    height: 200px;
    border: 1px solid #f15858;
    margin: 20px;
    display: inline-block;
}

.row {
}

.inner-div {
    padding: 5px;
    height: auto;
    width: auto;
    background-color: #ccc;
}

#special {
    color: purple;
}

.margin-top-5 {
    margin-top: 5px;
}

.pull-right {
    margin-left: 5px;
}