﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="header">
        <h1 class="header-title">Todo List aplikacia</h1>
        <ul class="menu">
            <li class="menu-item">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="menu-item">@Html.ActionLink("About", "About", "Home")</li>
            <li class="menu-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li class="menu-item">@Html.ActionLink("Todo list collections", "Index", "TodoListsCollection")</li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
