﻿@model MVCTodoList.Models.TodoListsCollection

<h2 class="list-title">@Model.Name</h2>
<div id="" class="lists">
    @foreach (var todoList in Model.Items)
    {
        @Html.Partial("_ListView", todoList)
    }

    <span id="collection-content"></span>

    <div class="add-list-form">
        @using (Html.BeginForm("CreateList", "TodoListsCollection", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <h4>Create new list</h4>
            <div class="input-group">
                <input id="collectionId" type="hidden" name="collectionId" value="@Model.Id" />
                <input id="name" type="text" name="name" value="" class="form-control" placeholder="New list name" />
                <span class="input-group-btn">
                    <input type="submit" value="Create list" class="btn btn-default" />
                </span>
            </div>
        }

        <br/>

        @using (Ajax.BeginForm("CreateListAsync", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = $"collection-content", InsertionMode = InsertionMode.InsertAfter }))
        {
            @Html.AntiForgeryToken()

            <h4>Create new list async</h4>
            <div class="input-group">
                <input id="collectionId" type="hidden" name="collectionId" value="@Model.Id" />
                <input id="name" type="text" name="name" value="" class="form-control" placeholder="New list name" />
                <span class="input-group-btn">
                    <input type="submit" value="Create list async" class="btn btn-default" />
                </span>
            </div>
        }
    </div>
</div>