﻿@model MVCTodoList.Models.TodoListsCollection

<div id="collection-@Model.Id" class="col-sm-4">
    <div class="collection-view">
        <a href=@Url.Action("Detail", new { collectionId = Model.Id }) class="btn btn-primary">

            @Model.Name
            <a style="font-size: 16px;" href="@Url.Action("DeleteCollection", new { collectionId = Model.Id})" class="pull-right margin-top-5">
                <span class="glyphicon glyphicon-trash" title="Delete"></span>
            </a>

            @Ajax.ActionLink("Delete Async", "DeleteCollectionAsync", new { collectionId = Model.Id }, new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = $"collection-{Model.Id}",
                InsertionMode = InsertionMode.ReplaceWith,
            }, new { @class = "pull-right margin-top-5" })
        </a>
    </div>
</div>
