﻿@model MVCTodoList.Models.TodoListItem

<div id="list-item-@Model.Id" class="list-item">
    <h5>@Html.DisplayFor(Model => Model.Name)</h5>
    <a href="@Url.Action("DeleteItem", new { collectionId = Request.Params["collectionId"], listId = Model.TodoList.Id, itemId = Model.Id  })" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span>
        Delete
    </a>

    @Ajax.ActionLink("Delete Async", "DeleteItemAsync", new { collectionId = Request.Params["collectionId"], listId = Model.TodoList.Id, itemId = Model.Id }, new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = $"list-item-{Model.Id}",
        InsertionMode = InsertionMode.ReplaceWith,
    })
</div>