﻿@model MVCTodoList.Models.TodoList

<div id="list-@Model.Id" class="list">
    <h4>
        @Model.Name
        <a style="font-size: 16px; margin-top: -20px;" href="@Url.Action("DeleteList", new { collectionId = Model.TodoListsCollection.Id, listId = Model.Id})" class="pull-right">
            <span class="glyphicon glyphicon-trash" title="Delete"></span>
        </a>
        @Ajax.ActionLink("Delete Async", "DeleteListAsync", new { collectionId = Model.TodoListsCollection.Id, listId = Model.Id }, new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = $"list-{Model.Id}",
            InsertionMode = InsertionMode.ReplaceWith,
        })
    </h4>

    @foreach (var item in Model.Items)
    {
        @Html.Partial("_ListItemView", item)
    }

    <span id="list-content-@Model.Id"></span>

    @using (Html.BeginForm("CreateItem", "TodoListsCollection", new { collectionId = Model.TodoListsCollection.Id, listId = Model.Id }))
    {
        @Html.AntiForgeryToken()

        <div class="input-group">
            <input id="name" type="text" name="name" value="" class="form-control" placeholder="New item name" />
            <span class="input-group-btn">
                <input type="submit" value="Create" class="btn btn-default" />
            </span>
        </div>
    }

    @using (Ajax.BeginForm("CreateItemAsync", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = $"list-content-{Model.Id}", InsertionMode = InsertionMode.InsertAfter }))
    {
        @Html.AntiForgeryToken()

        <div class="input-group">
            <input id="collectionId" type="hidden" name="collectionid" value="@Model.TodoListsCollection.Id" />
            <input id="listId" type="hidden" name="listId" value="@Model.Id" />
            <input id="name" type="text" name="name" value="" class="form-control" placeholder="New item name" />
            <span class="input-group-btn">
                <input type="submit" value="Create Async" class="btn btn-default" />
            </span>
        </div>
    }
</div>
