﻿@model IEnumerable<MVCTodoList.Models.TodoListsCollection>

@{
    ViewBag.Title = "Index";
}

<h1>Collections</h1>
<div class="row">
    @foreach (var todoListCollection in Model)
    {
        @Html.Partial("_CollectionView", todoListCollection)
    }

    <span id="collections"></span>

    <div class="col-sm-4">
        <div class="collection-view">
            @using (Html.BeginForm("CreateCollection", "TodoListsCollection", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <h4>Create new collection</h4>
                <div class="input-group">
                    <input id="name" type="text" name="name" value="" class="form-control" placeholder="New collection name" />
                    <span class="input-group-btn">
                        <input type="submit" value="Create collection" class="btn btn-default" />
                    </span>
                </div>
            }

            @using (Ajax.BeginForm("CreateCollectionAsync", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = $"collections", InsertionMode = InsertionMode.InsertAfter }))
            {
                @Html.AntiForgeryToken()

                <h4>Create new collection async</h4>
                <div class="input-group">
                    <input id="name" type="text" name="name" value="" class="form-control" placeholder="New collection name" />
                    <span class="input-group-btn">
                        <input type="submit" value="Create collection async" class="btn btn-default" />
                    </span>
                </div>
            }
        </div>
    </div>
</div>
